html {
	background-image: url("../images/cloth.png");
	font-family: 'Arial', 'Helvetica Nueve', Helvetica, sans-serif;
	position: relative;
	min-height: 100%;
}
body {
	margin: 0;
	color: #777777;
	font-size: 1rem;
}
a {
	text-decoration: none;
	color: #777777;
}

h1, h4 {
	font-family: 'Georgia', Times New Roman, Times, serif;
	color: #4aaaa5;
}


.header {
	margin: 0;
	padding: 0;
	background-color: white;
	width: 100%;	
	display: flex;
	justify-content: center;
	box-shadow: 0px 2px 0px #cccccc;
}

.header-content{
	width: 100%;
	margin: 0;
}

.body-content {
	width: 100%;
	margin: 0;
}

.tealBack {
	text-align: center;
	margin: 0;
	width: 100%;
}

.tealBack h1 {
	background-color: #4aaaa5;
	color: white;
	margin: 0;
	padding: 20px 20px 20px 20px;
}

.top-menu {
	text-align: center;
	width: 100%;
	line-height: 75px;
	margin: 0;
}


.logo-pic {
	width: 50px;
}

.meat {
	width: 90%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 0px;
	border-style: solid;
	border-width: thin;
	border-color: #dddddd;
	background-color: white;
	margin: 0 auto;
	height: 100%;
}
.spacer {
	visibility: hidden;
}

	.side-menu {
		width: 96%;
		text-align: center;
		margin: 0 auto;
		background-color: white;
		border-style: solid;
		border-width: thin;
		border-color: #dddddd;
		padding-bottom: 10px;
	}


.row {
	width: 100%;
	clear: both;	
	height: 20px
}

.profile-pic {
	width: 150px;
	float: left;
	margin: 0px 20px 0px 0px;
}

.portfolio-thumbnail {
	width: 300px;
	border: 1px solid light-grey;
	transition: 0.3s ease;
	box-shadow: 3px 3px 3px 3px #dddddd;
	margin:7px;
	float: left;
}

.portfolio-thumbnail:hover {
	transform: scale(2.5);
	transition: 0.3s ease;
}

.portfolio-desc {
	font-size: .75rem;
	display: inline-block;
	margin-left: 10px;
}


footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 30px;
	width: 100%;
	background-color: #777777;
	border-top: thick #4aaaa5;
	color: white;
	text-align: center;
	font-size: .7rem;
}

.footer-border {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 35px;
	width: 100%;
	background-color: #4aaaa5;
}

.textInput {
	width: 95%;
	padding: 5px;
	margin-top: 10px;
}

button {
	background-color: #4AAAA5;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px; 
	color: white;
	font-size: 1rem;
	border: none;
}

button:hover {
	background-color: black;
}

@media only screen and (min-width: 768px) {
	.header {
		width: 100%;
	}
	.header-content{
		width: 100%;
	}
	.tealBack {
		width: 40%;
		float: left;
	}
	.top-menu {
		text-align: right;
		width: 55%;
		float: left;
		padding-right: 5%; 
	}
	.body-content {
		width: 95%;
		margin: 0 auto;
	}
	.meat {
		width: 95%;
	padding-left: 20px;
	padding-right: 20px;
	}
	.spacer {
		width: 4.75%;
		padding: 0px;
		float: left;
		margin: 0;
		padding: 0px;
		visibility: hidden;
	}
	.side-menu {
		width: 95%;
	padding: 20px;
	margin-top: 20px;
	}
}

@media only screen and (min-width: 980px) {
	.header {
		width: 100%;
	}
	.header-content{
		width: 800px;
	}
	.tealBack {
		width: 40%;
		float: left;
	}
	.top-menu {
		text-align: right;
		width: 60%;
		float: left;
		padding: 0px;
	}
	.body-content {
		width: 800px;
		margin: 0 auto;
	}
	.meat {
		width: 65%;
		float: left;
	padding-left: 20px;
	padding-right: 20px;
	}
	.spacer {
		width: 4.75%;
		padding: 0px;
		float: left;
		margin: 0;
		padding: 0px;
		visibility: visible;
	}
	.side-menu {
		width: 20%;
		float: left;
	padding: 20px;
	margin: 0px;
	}
}

